<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Cast Audio</title>
</head>
<body>

    <!-- Google Cast-knop -->
    <google-cast-launcher></google-cast-launcher>

    <!-- Normale audio -->
    <audio id="audioElement" controls>
        <source src="https://radio.mndevs.host/radio/8000/radio.mp3" type="audio/mp3">
        Jouw browser ondersteunt geen audio-element.
    </audio>

    <!-- Knop om te casten -->
    

<script>

</script>
</body>
</html>
