<!DOCTYPE html>
<html>

<body>
    <h2>Account aangemaakt</h2>
    <p>Gebruiker: <%= username %>
    </p>
    <p>Bewaar deze code:</p>
    <pre><%= authCode %></pre>
    <a href="/chat">Ga naar chat</a>
</body>

</html>