<!DOCTYPE html>
<html>

<body>
    <h2>Nieuwe gebruiker</h2>
    <form method="post" action="/join">
        <input name="username" placeholder="Gebruikersnaam">
        <button>Start chat</button>
    </form>

    <hr>

    <h2>Chat hervatten</h2>
    <form method="post" action="/rejoin">
        <input name="authCode" placeholder="Autorisatiecode">
        <button>Rejoin</button>
    </form>
</body>

</html>