<div class="navbar-div" id="navbar">
    <img src="assets/logo-white.svg" alt="">
    <a href="#home" onclick="hideChat()">Home</a>
    <a href="#verzoekjes" onclick="hideChat()">Verzoekjes</a>
    <a href="#fotos" onclick="hideChat()">Foto's</a>
    <a onclick="toggelChat()">Chat</a>
</div>
